@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base layout */
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Elements */
textarea {
  @apply outline-none;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
